### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [9]:
total_players = len(purchase_data.SN.unique())
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

In [10]:
purchase_data.nunique()

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        179
Item Name      179
Price          145
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
unq_items = purchase_data['Item ID'].nunique()
avgprice = purchase_data['Price'].mean()
numpurch = purchase_data['Item ID'].count()
tot_rev = purchase_data['Price'].sum()

pd.DataFrame({"Number of Unique Items": [unq_items], "Average Price": [round(avgprice,2)], "Number of Purchases": [numpurch], "Total Revenue":[tot_rev]})

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [19]:
avgprice = purchase_data['Price'].mean()
print(round(avgprice,2))

3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [56]:
gendem_total = purchase_data["Gender"].value_counts()
gendem_percentage = gendem_total/ total_players * 100
gendem_percentage = gendem_percentage.round(2)
gendem_percentage

pd.DataFrame({"Total Count":[gendem_total], "Percentage Of Players":[gendem_percentage]})

,Total Count,Percentage Of Players
0,Male 652 Female ...,Male 113.19 Female ...


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
gen_counts = purchase_data.groupby(["Gender"]).count()["Price"]
genavg = purchase_data.groupby(["Gender"]).mean()["Price"]
genpurch_total = purchase_data.groupby(["Gender"]).sum()["Price"]
perpersonavg = genpurch_total/gendem_total

pd.DataFrame({"Purchase Count":[gen_counts], "Average Purchase Price":[round(genavg,2)], "Total Purchase Value": [genpurch_total], "Avg Total Purchase Per Person":[perpersonavg]})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,Gender Female 113 Male ...,Gender Female 3.20 Male ...,Gender Female 361.94 Male ...,Female 3.203009 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [36]:
player_dem = purchase_data.iloc[:, [ 1, 2, 3]]
player_dem = player_dem.drop_duplicates()
player_dem.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [48]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_dem["Age Ranges"] = pd.cut(player_dem["Age"], age_bins, labels=group_names)

# Calculate the Numbers and Percentages by Age Group
agedem_totals = player_dem["Age Ranges"].value_counts()
agedem_percentage = agedem_totals / total_players * 100
agedem = pd.DataFrame({"Total Count": agedem_totals, "Percentage of Players": agedem_percentage})

# Minor Data Munging
agedem = agedem.round(2)

# Display Age Demographics Table
agedem.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
# Count purchases by age group
purchase_count_age = agedem["Total Count"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = agedem["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = agedem["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
agedem = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

KeyError: 'Price'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
total_purchase = purchase_data.groupby("SN")["Price"].sum()
purchase_count = purchase_data.groupby("SN")["Price"].count()
purchase_avg = purchase_data.groupby("SN")["Price"].mean()

# Create DataFrame
spender_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": purchase_avg, "Total Purchase Value": total_purchase})

# Sort by Total Purchase Value
spender_df.sort_values("Total Purchase Value", ascending = False, inplace=True)

# Format columns
spender_df["Average Purchase Price"] = spender_df["Average Purchase Price"].map("${:.2f}".format)
spender_df["Total Purchase Value"] = spender_df["Total Purchase Value"].map("${:.2f}".format)

# Show Top 5 only
spender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
pop_tot = purchase_data.groupby("Item Name")["Price"].sum()
pop_count = purchase_data.groupby("Item Name")["Price"].count()

pop_price = purchase_data.groupby("Item Name")["Price"].mean()

# Create DataFrame
pop_df = pd.DataFrame({"Purchase Count": pop_count, "Avg Item Price": pop_price, "Total Purchase Value": pop_tot})

# Sort by Purchase Count 
pop_df.sort_values("Purchase Count", ascending = False, inplace=True)

# Format columns
pop_df["Avg Item Price"] = pop_df["Avg Item Price"].map("${:.2f}".format)
pop_df["Total Purchase Value"] = pop_df["Total Purchase Value"].map("${:.2f}".format)
pop_df.head()

,Purchase Count,Avg Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [57]:
# Create new DataFrame name using variables from previous code block
prof_df = pd.DataFrame({"Purchase Count": pop_count, "Avg Item Price": pop_price, "Total Purchase Value": pop_tot})

# Sort by Total Purchase Value
prof_df.sort_values("Total Purchase Value", ascending = False, inplace=True)

# Format columns
prof_df["Avg Item Price"] = prof_df["Avg Item Price"].map("${:.2f}".format)
prof_df["Total Purchase Value"] = prof_df["Total Purchase Value"].map("${:.2f}".format)

# Show Top 5 only
prof_df.head()

,Purchase Count,Avg Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Nirvana,9,$4.90,$44.10
Fiery Glass Crusader,9,$4.58,$41.22
Singed Scalpel,8,$4.35,$34.80